<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Vue training</title>

</head>
<body>
<div id="root">
    <h1 v-text="new Date()"></h1>
    <h1>
        {{ message.split('').reverse().join('') }}
    </h1>
    <h1>All tasks </h1>
    <ul>
        <li v-for="task in tasks" v-text="task.description"></li>
    </ul>

    <h1>Incompleted Tasks </h1>
    <ul>
        <li v-for="task in incompletedTasks" v-text="task.description"></li>
    </ul>

    <h1>Completed Tasks </h1>
    <ul>
        <li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li>
    </ul>
</div>

<script src="vue.min.js" type="text/javascript"></script>

<script>
    var app = new Vue({
        el: '#root',
        data: {
            message:'Hello world',
            tasks:[
                { description : 'Go to the store' , completed : true },
                { description : 'Finish screencast' , completed : false },
                { description : 'Make donation' , completed : false },
                { description : 'clear inbox' , completed : false },
                { description : 'make dinner' , completed : false },
                { description : 'clean room' , completed : true }
            ]
        },

        computed:{
            incompletedTasks(){
                return this.tasks.filter(task => ! task.completed)
            }
        }
    });

    Vue.config.devtools = true // add this line for enable devtools
</script>


</body>
</html>